.title {
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    max-width: 30vw;
    max-lines: 1;
}

.ogtitle {
    font-size: 1.2rem!important;
    font-weight: normal!important;
}

.desc {
    font-family: sans-serif;
    font-weight: lighter;
    color: white;
    max-width: 30vw;
}

.fade {
    color: #a3a3a3!important;
}

.p10 {
    padding: 5px 10px;
}

.shadow {
    box-shadow: 0 0 10px rgb(0 0 0 / 18%);
}