.title {
    font-size: 1.8rem;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    width: 30vw;
    min-width: 500px;
    max-lines: 1;
}

.ogtitle {
    font-size: 1.2rem!important;
    font-weight: normal!important;
}

.desc {
    font-family: sans-serif;
    font-weight: lighter;
    color: #f9f9f9;
    width: 30vw;
    min-width: 500px;
}

.fade {
    color: #a3a3a3!important;
    min-width: 0px!important;
    width: auto!important;
}

.p10 {
    padding: 5px 10px;
}

.shadow {
    /* box-shadow: 0 0 10px rgb(0 0 0 / 18%); */
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    border: 1px solid rgba(240, 46, 170, 0.4);
}

button {
    background-color: rgb(240, 46, 170);
    border: 0;
    padding: 10px 15px;
    margin: 5px;
    width: 10vw;
    max-width: 120px;
    border-radius: 40px;
    cursor: pointer;
}

.secondary {
    background-color: #ddd;
}