@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbarheight: 4rem;
    --main-400: rgba(240, 46, 170, .4);
    --main-1000: rgba(240, 46, 170, 1)

}

* {
    font-family: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
}

.min-w-24 {
    min-width: 6rem;
}

.min-h-8 {
    min-height: 2rem;
}

.max-w-8xl {
    max-width: 100rem;
}

.max-w-9xl {
    max-width: 110rem;
}

.grid-cols-3\/2 {
    grid-template-columns: 3fr 2fr;
}

.grid-cols-bill {
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
}

.rounded-sm {
    border-radius: 0.5rem;
}

body {
    background-color: #000000;
    color: white;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

.tbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-400);
    border: 0;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    width: 10vw;
    min-width: fit-content;
    max-width: 7rem;
    border-radius: 3rem;
    cursor: pointer;
}

input[type="checkbox"] {
    padding: 0.5rem;
}

input[type="checkbox"]:checked {
    background-color: var(--main-400);
}

::-webkit-scrollbar {
    display: none;
    height: 4px;
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2rem;
}

.scroll-wrapper {
    @apply flex overflow-x-auto overflow-y-hidden;
    /* width: 100vw; */
}

.scroll-wrapper::-webkit-scrollbar {
    display: initial;
    background-color: transparent;
}

.logo {
    background: #f953c6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* font-stretch: semi-condensed; */
}

.secondary {
    background-color: #ddd;
}

#bigbanner {
    width: 100vw;
}

@media (max-width: 768px) {
    #bigbanner {
        height: 90vh;
    }
}

svg {
    mix-blend-mode: difference;
}

.bg-main-1000 svg {
    mix-blend-mode: normal;
    fill: black;
}

.TitleRowBtn {
    height: calc(100% - 3.25rem);
    @apply hidden sm:block absolute bottom-0 z-30 w-fit from-black transition-all duration-200 
}

img {
    object-fit: cover;
    object-position: center;
}

.aspect-potrait {
    aspect-ratio: 2/3;
}