@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: inherit;
}

.aspect-portrait {
    aspect-ratio: 3/4;
}

.min-h-8 {
    min-height: 2rem;
}

.max-w-8xl {
    max-width: 100rem;
}

.max-w-9xl {
    max-width: 110rem;
}

.grid-cols-3\/2 {
    grid-template-columns: 3fr 2fr;
}

.checkedLabel:checked + label {
    background: #dddddd;
}

.grid-cols-bill {
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
}

.rounded-sm {
    border-radius: 0.5rem;
}

:root {
    --ternary: rgba(255, 74, 183, 0.9);
}

body {
    background-color: #f9f9f9;
    overflow-x: hidden;
    color: black;
    font-family: "Roboto", sans-serif;
}

.tbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ternary);
    border: 0;
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    width: 10vw;
    min-width: fit-content;
    max-width: 7rem;
    border-radius: 3rem;
    cursor: pointer;
}

input[type="checkbox"] {
    padding: 0.5rem;
}

input[type="checkbox"]:checked {
    background-color: var(--ternary);
}

.disable-scrollbars {
    scrollbar-width: thin;
    -ms-scrollbar-track-color: #f9f9f9;
    /* Firefox */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* IE 10+ */
    overflow: hidden;
}

.disable-scrollbars:hover {
    overflow: scroll hidden;
}

.disable-scrollbars::-webkit-scrollbar {
    background: #f9f9f9;
    /* Chrome/Safari/Webkit */
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    height: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(240, 46, 170, 0.4);
    border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.logo {
    background: #f953c6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b91d73, #f953c6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    /* font-stretch: semi-condensed; */
}

.secondary {
    background-color: #ddd;
}

#bigbanner {
    width: 100vw;
    height: 60vh;
}

@media (min-width: 640px) {
    #bigbanner {
        width: 80vw;
    }
}
